#dashboard{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 10;
   
    
    }
#history {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 400px;
  height: 10;
}
#history td,#history th ,#history tr{
  border: 1px solid black;
  padding: 8px;
  
  

}
#dashboard tr{
        border: 1px solid black;
        padding: 3px;
        width: 55px;
       
        
    
    }
    #dashboard th , #dashboard td{
      border: 1px solid black;
      padding: 1px;
      width: 55px;
     
      
  
  }
    
    #dashboard td:nth-child(even){
        background-color: lightgray;
    }
    #demo{
        border-collapse:separate;
        border-spacing: 10spx; 
    }
    .dropbtn {
        background-color: white;
        color:black;
        padding: 10px;
        font-size: 16px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: white}