#dashboard{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#history {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 350px;
height: 200px;
overflow-y:scroll;
display:block;
}
#history td,#history th ,#history tr{
border: 1px solid black;
padding: 8px;
}
#leftBorderInput{
border-style: none none none double;
text-align: center;
}
#allBorderLabel{
border: 1px solid grey;
margin-right: 5px;
}
.outer-main-1{
display: flex;
flex-direction: column;
}
.menu{
float:left;
}
.inner-main-1{
  display: flex;
  
}
.content-table-1{
  display: flex;
padding:10px;
flex : 10%;
flex-direction: row;

}
.inner-main-2{
display: flex;
flex-direction: row;
padding:10px;
font-size:12px;
}
.input-rows{
display: flex;
}
.content-inputs{
display: flex;
flex-direction: row;
flex-grow: 1;
}
#dashboard tr{
      border: 1px solid black;
      padding: 3px;
      width: 55px;
      height: -1px;
     
      
  
  }
  #dashboard th , #dashboard td{
    border: 1px solid black;
    padding: 1px;
    width: 55px;
    height: -1px;

    
    

}
  
  #dashboard td:nth-child(even){
      background-color: lightgray;
  }
  #demo{
      border-collapse:separate;
      border-spacing: 10spx;
      height: 100px; 
  }
  .dropbtn {
      background-color: white;
      color:black;
      padding: 10px;
      font-size: 16px;
      border: none;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: white}